<h1>Editing product_order</h1>

<% form_for(@product_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @product_order %> |
<%= link_to 'Back', product_orders_path %>
